@import url(https://fonts.googleapis.com/css?family=Montserrat:600,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Inter:400&display=swap);

@charset "UTF-8";

@font-face {
  font-family: "AvenirNextCyr-Light", sans-serif;
  src: url("../fonts/AvenirNextCyr-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextRegular";
  src: url("../fonts/AvenirNextRegular/AvenirNextRegular.eot");
  src: url("../fonts/AvenirNextRegular/AvenirNextRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextRegular/AvenirNextRegular.woff") format("woff"), url("../fonts/AvenirNextRegular/AvenirNextRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "AvenirNextCyr-Medium", sans-serif;
  src: url("../fonts/AvenirNextCyr-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextDemi";
  src: url("../fonts/AvenirNextDemi/AvenirNextDemi.eot");
  src: url("../fonts/AvenirNextDemi/AvenirNextDemi.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextDemi/AvenirNextDemi.woff") format("woff"), url("../fonts/AvenirNextDemi/AvenirNextDemi.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "AvenirNextCyr-Bold", sans-serif;
  src: url("../fonts/AvenirNextCyr-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-header-phone:before {
  content: "\e907";
}

._icon-arrow_left:before {
  content: "\e900";
}

._icon-arrow_right:before {
  content: "\e901";
}

._icon-cennosty_1:before {
  content: "\e902";
}

._icon-cennosty_2:before {
  content: "\e903";
}

._icon-cennosty_3:before {
  content: "\e904";
}

._icon-cennosty_4:before {
  content: "\e905";
}

._icon-cennosty_point:before {
  content: "\e906";
}

._icon-plus_1:before {
  content: "\e908";
}

._icon-plus_2:before {
  content: "\e909";
}

._icon-plus_3:before {
  content: "\e90a";
}

._icon-plus_4:before {
  content: "\e90b";
}

._icon-plus_5:before {
  content: "\e90c";
}

._icon-point:before {
  content: "\e90d";
}

._icon-whywe_1:before {
  content: "\e90e";
}

._icon-whywe_2:before {
  content: "\e90f";
}

._icon-whywe_3:before {
  content: "\e910";
}

._icon-whywe_4:before {
  content: "\e911";
}

._icon-whywe_5:before {
  content: "\e912";
}

._icon-whywe_6:before {
  content: "\e913";
}

._icon-works_1:before {
  content: "\e914";
}

._icon-works_2:before {
  content: "\e915";
}

._icon-works_3:before {
  content: "\e916";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*:focus,
:active {
	// outline: none;
}
a:focus,
a:active {
	// outline: none;
}*/

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
}

.lock body {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  /*.loaded & {
  }*/
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 71.25rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[data-fullscreen] {
  height: 100vh;
}

.touch [data-fullscreen] {
  height: calc(var(--vh, 1vh) * 100);
}

[class*=__image-ibg] {
  position: relative;
}

[class*=__image-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.body-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 7rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-header__logo img {
  width: 9.5625rem;
}

.body-header__phone {
  font-family: "Montserrat";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.4375rem 0px 0px 5.1875rem;
}

.menu-block {
  font-family: "Avenir Next Cyr", sans-serif;
  font-size: 1rem;
  line-height: 1.25;
}

.menu-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0.4375rem 0px 0px 12.625rem;
}

.menu-block__item {
  padding: 0px 3.125rem 0px 0px;
}

.menu-block__link {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.phone {
  color: #595959;
}

.phone__text {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.25;
  margin: 0px 0.375rem 0px 0px;
}

/* ------------------------------------------------------------------------ */

.main-block {
  position: relative;
  margin: 0px 0px 4.3125rem 0px;
}

.main-block__container {
  min-height: 47.4375rem;
}

.main-block__image {
  position: absolute;
  bottom: 0;
  right: 0;
}

.main-block__image img {
  max-width: 100%;
  /*position: relative;*/
  height: auto;
}

.main-block__body {
  margin: 9.0625rem 0px 0px 0px;
  position: absolute;
}

.main-block__title {
  max-width: 52.5625rem;
  font-family: "Avenir Next Cyr", sans-serif;
  font-size: 3rem;
  font-weight: 750;
  padding: 0px 0px 1.625rem 0px;
}

.main-block__title span {
  color: #EB6C45;
}

.main-block__text {
  max-width: 35.625rem;
  font-family: "Avenir Next Cyr", sans-serif;
  font-size: 2.25rem;
  font-weight: 750;
  padding: 0px 0px 2.8125rem 0px;
}

.main-block__phone {
  display: none;
}

.main-block__phone-text {
  color: #595959;
  font-family: "Montserrat";
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.3333333333;
  padding-left: 0.5625rem;
  position: relative;
  bottom: 0.625rem;
}

.btn {
  color: #fff;
  font-family: "Avenir Next Cyr", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.8;
  background-color: #EB6C45;
  padding: 0.625rem 2.5625rem;
  border: 0.3125rem solid #FFD8AA;
  border-top-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}

/*--------------------------------------------------------------------- */

.catalog-block {
  position: relative;
}

.catalog-block__container {
  min-height: 47.125rem;
}

.catalog-block__image {
  position: absolute;
  top: 0;
  left: 0;
}

.catalog-block__image img {
  max-width: 100%;
  /*position: relative;*/
  height: auto;
  z-index: -1;
}

.catalog-block__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #34373A;
  background-color: #fff;
  font-family: "Avenir Next Cyr", sans-serif;
  font-size: 2rem;
  font-weight: 750;
  line-height: 1;
  padding: 5.875rem 0px 0px 0px;
  margin: 0px 0px 4.375rem 0px;
  text-transform: uppercase;
  -webkit-background-clip: text;
}

.catalog-block__more {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin: 0px 0.9375rem 0px 0px;
}

.catalog-block__btn {
  color: #545454;
  font-family: "Inter";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4285714286;
  border-bottom: 1px solid #545454;
  margin: 1.5625rem 0px 6.5625rem 0px;
}

.catalog-block__bg1 {
  background: cover no-repeat;
  position: absolute;
  right: 0;
  bottom: 30rem;
  z-index: -1;
}

.catalog-block__bg2 {
  background: cover no-repeat;
  position: absolute;
  left: 0;
  top: 35rem;
  z-index: -1;
}

.product-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
  grid-template-columns: repeat(4, auto);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}

.product-card__body {
  max-width: 16rem;
  min-height: 20.3125rem;
  border: 1px solid #FFD8AA;
  border-radius: 1px;
  background: #F9F9F9;
  -webkit-box-shadow: 4px 6px 7px 0px rgba(36, 55, 140, 0.21);
          box-shadow: 4px 6px 7px 0px rgba(36, 55, 140, 0.21);
}

.product-card__item {
  display: -ms-inline-grid;
  display: inline-grid;
  text-align: left;
}

.product-card__image {
  height: 16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-card__image img {
  max-width: 100%;
  margin: 0.9375rem;
}

.info-product-card {
  font-family: "Montserrat";
  min-height: 4.75rem;
  border-radius: 1px;
  background-color: #5A5E62;
  color: #fff;
  cursor: pointer;
  padding: 1rem 0px 1rem 1.3125rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.info-product-card__name {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.2857142857;
  padding-bottom: 0.5625rem;
}

.info-product-card__price {
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.2;
}

.page {
  min-width: 0;
}

@media (min-width: 61.99875em) {
  .menu {
    display: none;
  }
}

@media (min-width: 90em) {
  .body-header__phone {
    margin-left: 5.1875rem;
  }

  .menu-block__list {
    margin-left: 12.625rem;
  }

  .menu-block__item {
    padding-right: 3.125rem;
  }

  .main-block__body {
    top: 0.9375rem;
  }
}

@media (max-width: 20em) {
  .main-block__body {
    top: -8.125rem;
  }
}

@media (max-width: 61.99875em) and (max-width: 20em) {
  .body-header__logo img {
    width: 5.5625rem;
  }

  .main-block__container {
    min-height: 31.25rem;
  }

  .main-block__image {
    bottom: 3.75rem;
  }

  .main-block__image {
    right: -12rem;
  }

  .main-block__title {
    max-width: 22.125rem;
  }

  .main-block__title {
    font-size: 1.1875rem;
  }

  .main-block__title {
    padding-bottom: 1.25rem;
  }

  .main-block__text {
    max-width: 17.8125rem;
  }

  .main-block__text {
    font-size: 1rem;
  }

  .main-block__text {
    padding-bottom: 1.25rem;
  }

  .btn {
    font-size: 0.875rem;
  }

  .btn {
    padding-left: 1.25rem;
  }

  .btn {
    padding-right: 1.25rem;
  }

  .catalog-block__container {
    min-height: 18.75rem;
  }

  .catalog-block__image {
    top: -6.25rem;
  }

  .catalog-block__image {
    left: -2.625rem;
  }

  .catalog-block__title {
    font-size: 1.0625rem;
  }

  .catalog-block__title {
    padding-top: 0rem;
  }

  .catalog-block__btn {
    font-size: 0.75rem;
  }

  .product-card {
    gap: 0.9375rem;
  }

  .info-product-card {
    padding-left: 0.8125rem;
  }

  .info-product-card__name {
    font-size: 0.6875rem;
  }

  .info-product-card__price {
    font-size: 0.75rem;
  }
}

@media (max-width: 61.875em) {
  .body-header__phone {
    margin-left: 1.25rem;
  }

  .menu-block__list {
    margin-left: 2.1875rem;
  }

  .menu-block__item {
    padding-right: 1.25rem;
  }
}

@media (max-width: 61.99875em) {
  .menu-block {
    display: none;
  }

  .phone {
    display: none;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 40px;
    height: 25.2px;
    cursor: pointer;
    z-index: 10;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #5A5E62;
  }

  .icon-menu::before {
    top: 0px;
  }

  .icon-menu::after {
    bottom: 0px;
  }

  .icon-menu span {
    top: calc(50% - 1px);
  }

  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu-open .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .main-block__image img {
    width: 114.2314990512%;
  }

  .main-block__phone {
    display: block;
  }

  .btn {
    margin-bottom: 20px;
  }

  .catalog-block__image img {
    width: 45.1388888889%;
  }

  .catalog-block__bg1 {
    display: none;
  }

  .catalog-block__bg2 {
    display: none;
  }

  .product-card {
    -ms-grid-columns: (auto)[3];
    grid-template-columns: repeat(3, auto);
    justify-items: center;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }

  .product-card {
    -ms-grid-columns: (auto)[2];
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .body-header__container {
    height: 5.9375rem;
  }
}

@media (max-width: 29.99875em) and (max-width: 20em) {
  .product-card__body {
    min-height: 14.375rem;
  }

  .product-card__image {
    height: 9.375rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 90em) {
  .body-header__container {
    height: 7rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 90em) {
  .body-header__container {
    height: calc(5.9375rem + 1.0625 * (((100vw - 20rem)) / ((70))));
  }
}

@media (max-width: 61.99875em) and (min-width: 90em) {
  .body-header__logo img {
    width: 9.5625rem;
  }

  .main-block__container {
    min-height: 47.4375rem;
  }

  .main-block__image {
    bottom: -5.9375rem;
  }

  .main-block__image {
    right: 0rem;
  }

  .main-block__title {
    max-width: 52.5625rem;
  }

  .main-block__title {
    font-size: 3rem;
  }

  .main-block__title {
    padding-bottom: 1.625rem;
  }

  .main-block__text {
    max-width: 35.625rem;
  }

  .main-block__text {
    font-size: 2.25rem;
  }

  .main-block__text {
    padding-bottom: 2.8125rem;
  }

  .btn {
    font-size: 1.25rem;
  }

  .btn {
    padding-left: 2.5625rem;
  }

  .btn {
    padding-right: 2.5625rem;
  }

  .catalog-block__container {
    min-height: 59.625rem;
  }

  .catalog-block__title {
    font-size: 2rem;
  }

  .catalog-block__title {
    padding-top: 5.875rem;
  }

  .catalog-block__btn {
    font-size: 0.875rem;
  }

  .info-product-card {
    padding-left: 1.3125rem;
  }

  .info-product-card__name {
    font-size: 0.875rem;
  }

  .info-product-card__price {
    font-size: 0.9375rem;
  }
}

@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 90em) {
  .body-header__logo img {
    width: calc(5.5625rem + 4 * (((100vw - 20rem)) / ((70))));
  }

  .main-block__container {
    min-height: calc(31.25rem + 16.1875 * (((100vw - 20rem)) / ((70))));
  }

  .main-block__image {
    bottom: calc(3.75rem + -9.6875 * (((100vw - 20rem)) / ((70))));
  }

  .main-block__image {
    right: calc(-12rem + 12 * (((100vw - 20rem)) / ((70))));
  }

  .main-block__title {
    max-width: calc(22.125rem + 30.4375 * (((100vw - 20rem)) / ((70))));
  }

  .main-block__title {
    font-size: calc(1.1875rem + 1.8125 * (((100vw - 20rem)) / ((70))));
  }

  .main-block__title {
    padding-bottom: calc(1.25rem + 0.375 * (((100vw - 20rem)) / ((70))));
  }

  .main-block__text {
    max-width: calc(17.8125rem + 17.8125 * (((100vw - 20rem)) / ((70))));
  }

  .main-block__text {
    font-size: calc(1rem + 1.25 * (((100vw - 20rem)) / ((70))));
  }

  .main-block__text {
    padding-bottom: calc(1.25rem + 1.5625 * (((100vw - 20rem)) / ((70))));
  }

  .btn {
    font-size: calc(0.875rem + 0.375 * (((100vw - 20rem)) / ((70))));
  }

  .btn {
    padding-left: calc(1.25rem + 1.3125 * (((100vw - 20rem)) / ((70))));
  }

  .btn {
    padding-right: calc(1.25rem + 1.3125 * (((100vw - 20rem)) / ((70))));
  }

  .catalog-block__container {
    min-height: calc(18.75rem + 40.875 * (((100vw - 20rem)) / ((70))));
  }

  .catalog-block__title {
    font-size: calc(1.0625rem + 0.9375 * (((100vw - 20rem)) / ((70))));
  }

  .catalog-block__title {
    padding-top: calc(0rem + 5.875 * (((100vw - 20rem)) / ((70))));
  }

  .catalog-block__btn {
    font-size: calc(0.75rem + 0.125 * (((100vw - 20rem)) / ((70))));
  }

  .info-product-card {
    padding-left: calc(0.8125rem + 0.5 * (((100vw - 20rem)) / ((70))));
  }

  .info-product-card__name {
    font-size: calc(0.6875rem + 0.1875 * (((100vw - 20rem)) / ((70))));
  }

  .info-product-card__price {
    font-size: calc(0.75rem + 0.1875 * (((100vw - 20rem)) / ((70))));
  }
}

@media (min-width: 61.875em) and (max-width: 90em) {
  .body-header__phone {
    margin-left: calc(1.25rem + 3.9375 * (((100vw - 61.875rem)) / ((28.125))));
  }

  .menu-block__list {
    margin-left: calc(2.1875rem + 10.4375 * (((100vw - 61.875rem)) / ((28.125))));
  }

  .menu-block__item {
    padding-right: calc(1.25rem + 1.875 * (((100vw - 61.875rem)) / ((28.125))));
  }
}

@media (min-width: 20em) and (max-width: 90em) {
  .main-block__body {
    top: calc(-8.125rem + 9.0625 * (((100vw - 20rem)) / ((70))));
  }
}

@media (max-width: 61.99875em) and (min-width: 61.9375em) {
  .catalog-block__image {
    top: 0rem;
  }

  .catalog-block__image {
    left: 0rem;
  }
}

@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 61.9375em) {
  .catalog-block__image {
    top: calc(-6.25rem + 6.25 * (((100vw - 20rem)) / ((41.9375))));
  }

  .catalog-block__image {
    left: calc(-2.625rem + 2.625 * (((100vw - 20rem)) / ((41.9375))));
  }
}

@media (max-width: 61.99875em) and (min-width: 73.125em) {
  .product-card {
    gap: 1.875rem;
  }
}

@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 73.125em) {
  .product-card {
    gap: calc(0.9375rem + 0.9375 * (((100vw - 20rem)) / ((53.125))));
  }
}

@media (max-width: 29.99875em) and (min-width: 90em) {
  .product-card__body {
    min-height: 20.3125rem;
  }

  .product-card__image {
    height: 16rem;
  }
}

@media (max-width: 29.99875em) and (min-width: 20em) and (max-width: 90em) {
  .product-card__body {
    min-height: calc(14.375rem + 5.9375 * (((100vw - 20rem)) / ((70))));
  }

  .product-card__image {
    height: calc(9.375rem + 6.625 * (((100vw - 20rem)) / ((70))));
  }
}

@media (any-hover: hover) {
  .menu-block__link:hover {
    text-decoration: underline;
  }

  .btn:hover {
    background-color: #FFD8AA;
  }

  .catalog-block__btn:hover {
    border-bottom: none;
  }

  .info-product-card:hover {
    text-decoration: underline;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}